name: ci

on:
  pull_request:
    branches: [ '*' ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: build-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@v0.8.1
        with:
          manifest-path: pixi.toml

      - name: Setup gfortran
        uses: fortran-lang/setup-fortran@v1
        with:
          compiler: gcc

      - name: build
        run: pixi run build-gfortran-release
      - name: Run Tests
        run: pixi run test
